<%= @customer.name %>
<%= @customer.email %>
<h2>Мои заказы</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= order.description %></td>
        <td><%= order.address %></td>
        <td><%= order.price %></td>
        <td><%= render 'partials/status', order: order%></td>
        <td><%= link_to 'Show', customer_order_path(current_customer, order.id) %></td>
        <td><%= link_to 'Edit',edit_customer_order_path(current_customer, order.id) %></td>
        <td><%= link_to 'Destroy', customer_order_path(current_customer, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_tag complete_customer_order_path(current_customer, order.id), method: :put do %>
          <%= submit_tag 'Закрыть заказ' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
