<h1>WORKER</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= order.description %></td>
        <td><%= order.address %></td>
        <td><%= order.price %></td>
        <td><%= render 'partials/status', order: order%></td>
      </tr>
    <% end %>
  </tbody>
</table>
