<h1>Главная страница</h1>

<p id="notice"><%= notice %></p>

<h2>Заказы</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th>Customer</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= order.description %></td>
        <td><%= order.address %></td>
        <td><%= order.price %></td>
        <td><%= order.customer_id %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<br>


	
