<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @worker.phone_number %>
</p>

<p>
  <strong>About:</strong>
  <%= @worker.about %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @worker.rating %>
</p>

<%= form_tag confirm_customer_order_path(current_customer, id: params[:order_id], worker_id: @worker.id), method: :put do %>
<%= submit_tag 'Назначить исполнитилем' %>
<% end %>

<%= link_to 'Edit', edit_worker_path(@worker) %>
|
<%= link_to 'Back', workers_path %>
